
/* CSS Additional Helpers */
.no-margin {
    margin: 0;
}

h1.has-sub small,
h2.has-sub small,
h3.has-sub small,
h4.has-sub small,
h5.has-sub small,
h6.has-sub small {
    font-size: 14px;
}

.full-width {
    width: 100% !important;
}

table.full-width td {
    padding: 3px;
}

.box-warning .box-header small,
.box-danger .box-header small,
.box-success .box-header small,
.box-info .box-header small,
.box-primary .box-header small {
    color: #fff;
}

.box-header div.label {
    padding-top: -5px !important;
    position: block;
}

.align-center {
    text-align: center !important;
}

.box-body img {
    max-width: 100% !important;
}

.box-tools input {
    width: 50px !important;
    background: transparent;
    border: none;
    text-align: right;
}
